<div class="row">
  <div class="col-md-12">
    <table class="table checkout table-border">

        <h2>購物明細</h2>

        <table class="table ckekout table-border">
          <thead>
            <tr class="gray-bg">
              <th class="hidden-md" style="text-align: center">商品明細</th>
              <th class="hidden-xs" style="text-align: center">數量</th>
              <th class="hidden-xs" style="text-align: center">單價</th>
            </tr>
          </thead>
          <tbody>

            <% current_cart.items.each do |product| %>
              <tr>
                <td class="hidden-md">
                  <%= link_to(product.title, product_path(product)) %>
                </td>
                <td class="hidden-xs " style="text-align: center">
                  <%= item = current_cart.cart_items.find_by(product_id: product).quantity %>
                </td>
                <td class="hidden-xs" style="text-align: center">
                  <%= product.price %>
                </td>
              </tr>
            <% end %>

          </tbody>
        </table>

        <div class="total clearfix">
          <br>
          <span class="pull-right" style="font-weight: bold">
            總計 <%= render_cart_total_price(current_cart) %> NTD
          </span>
        </div>
        <br>

        <hr>

        <h2>訂單資訊</h2>
        <br>

        <div class="order-form">

          <%= simple_form_for @order do |f| %>

            <%= f.simple_fields_for :info do |c| %>

              <legend>訂購人</legend>
              <div class="form-group col-lg-6">
                <%= c.input :billing_name %>
              </div>
              <div class="from-group col-lg-6">
                <%= c.input :billing_address %>
              </div>

              <legend>收貨人</legend>
              <div class="form-group col-lg-6">
                <%= c.input :shipping_name %>
              </div>
              <div class="form-group col-lg-6">
                <%= c.input :shipping_address %>
              </div>
            <% end %>

            <div class="checkout">
              <%= f.submit "生成訂單", class: "btn btn-lg btn-danger pull-right", data: { disable_with: "Submitting..." } %>
            </div>
          <% end %>

        </div>


    </table>
  </div>
</div>
